<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="mobile_robot_ros2_control" params="name serial_device baud_rate telemetry_timeout_ms ticks_per_revolution left_motor_inverted right_motor_inverted left_encoder_inverted right_encoder_inverted">
    <ros2_control name="${name}" type="system">
      <hardware>
        <plugin>mobile_robot_hardware/MobileRobotSystem</plugin>
        <param name="serial_device">${serial_device}</param>
        <param name="baud_rate">${baud_rate}</param>
        <param name="telemetry_timeout_ms">${telemetry_timeout_ms}</param>
        <param name="ticks_per_revolution">${ticks_per_revolution}</param>
        <param name="left_motor_inverted">${left_motor_inverted}</param>
        <param name="right_motor_inverted">${right_motor_inverted}</param>
        <param name="left_encoder_inverted">${left_encoder_inverted}</param>
        <param name="right_encoder_inverted">${right_encoder_inverted}</param>
      </hardware>
      <joint name="left_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
      <joint name="right_wheel_joint">
        <command_interface name="velocity"/>
        <state_interface name="position"/>
        <state_interface name="velocity"/>
      </joint>
    </ros2_control>
  </xacro:macro>
</robot>
